.generate-title {
    font-size: 6vh;
    text-align: center;
    color: #00a2ff;
    font-family: 'Rubik', sans-serif;
    user-select: none;

}

.c {
    z-index: 0;
    margin-top: -10vh;
    margin-bottom: -10vh;
}

.move{
    color: white;
    user-select: text;
    font-size: 3vh;
    max-width: 100%;
    font-family: url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;700;800&display=swap');
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
}