.input-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-title {
    font-size: 6vh;
    color: #00a2ff;
    font-family: 'Rubik', sans-serif;
    user-select: none;
}

.plaintext-input {
    width: 100vh;
    margin: 1vh;
    color: rgb(255, 255, 255);
    background-color: rgb(49, 49, 53);
    border: none;
    font-family: url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;700;800&display=swap');
    resize: none;
}